<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="text-center">

    <body class="text-center">
        <%- include("partials/modal.ejs") %>
        <%- include("partials/header.ejs") %>
        <%- include("partials/no-result.ejs") %>

            <div class="row row-cols-3 m-3">
                <% for (let row of rows){%>
                    <div class="col">
                        <div class="card m-1 p-2 shadow">
                            <a class="authors" data-bs-toggle="modal" data-bs-target="#exampleModal" authorId='<%=row.authorId%>'>
                                <%=row.firstName%>
                                    <%=row.lastName%>
                            </a>
                            <p>
                                <%=row.quote%>
                                    <div class="fw-bold"><%=row.likes%> Likes</div>
                            </p>
                        </div>
                    </div>
                    <%}%>
            </div>
            <br><br><br><br>
            <%- include("partials/footer.ejs") %>
            <%- include("partials/script.ejs") %>
    </body>

</html>